

/*******************************
 * Node Generic Styles
 */

 .node--view-mode-teaser {
     margin-bottom: 1em;
 }

.field {
    margin-bottom: 1em;
}

.field.field--label-inline .field__label,
.field.field--label-inline .field__item,
.field.field--label-inline .field__items {
    display: inline;
}



/*******************************
 * Plant Species Node
 */

/* Teaser */
.node--type-plant-species.node--view-mode-teaser footer .meta {
    display: none;
}

/* Full */
.node .field--type-image {
    float: none !important;
}

.field.field--name-field-plant-images {
    display: flex;
}

.field.field--name-field-plant-images img {
    width: 50px;
    height: 50px;
}

.field__label {
    font-weight: bold;
}

.field__label::after {
    content: ":";
}

.field__item {
    margin-bottom: 1em;
}

.field--type-entity-reference .field__label {
    font-size: inherit !important;
}
.field--type-entity-reference .field__label {
    font-weight: bold !important;
}

caption {
    text-align: left;
    font-size: 1.5em !important;
    font-weight: bold !important;
}

.field.field--name-field-county-thumbnail {
    float: left;
}
