/* Body & Main
================================================== */

body {
    background-color: #E6EAF0;
    color: #333333;
}
a {
    color: #588C63;
}
a:visited {
    color: #4E7A50;
}
a:hover,
a:focus,
a:active {
  color:#333;
}

/* Header */
#masthead {
    background-color: #FFFFFF;
}

/* Footer */
#bottom, .site-footer {
    background: #588C63;
    color: #FFFFFF;
}
#bottom { border-top: 5px solid #ffffff; }
#bottom a, .site-footer a { color: #FFFFFF; }
#bottom a:visited, .site-footer a:visited { color: #FFFFFF; }
#bottom a:hover, #bottom a:active, #bottom a.active, #bottom a.active-trail,
.site-footer a:hover, .site-footer a:active, .site-footer a.active, .site-footer a.active-trail { color:#000; }
#bottom .contextual-links a {  color: #000; }
/* #bottom li,
#bottom li a {
    color: #FFFFFF;
}
#bottom li a:visited {
    color: #FFFFFF;
}
#bottom li a:hover, #bottom li a:active, #bottom a.active, #bottom > ul > li > a.active-trail {
    color:#000;
} */
.footer-block,
.fcred { color: #FFFFFF; }

/* Main Menu */
#main-menu li {
    color: #fff;
}
#main-menu li a {
    color: #588C63;
}
#main-menu li a:hover, #main-menu li a:active, #main-menu a.active, #main-menu > ul > li > a.active-trail {
    color:#000;
}


/* Home Page
================================================== */

/* Slider */
/* .doverlay {
    background: none;
} */
.flex-direction-nav a {
    background-image: url(../images/bg_direction_nav.png);
}



/* Generic Node Styles
================================================== */

 .node--view-mode-teaser {
     margin-bottom: 1em;
 }

.field {
    margin-bottom: 1em;
}

.field.field--label-inline .field__label,
.field.field--label-inline .field__item,
.field.field--label-inline .field__items {
    display: inline;
}



/* Plant Species NOde
================================================== */

/* Teaser */
.node--type-plant-species.node--view-mode-teaser footer .meta {
    display: none;
}

/* Full */
.node .field--type-image {
    float: none !important;
}

.field.field--name-field-plant-images {
    display: flex;
}

.field.field--name-field-plant-images img {
    width: 50px;
    height: 50px;
}

.field__label {
    font-weight: bold;
}

.field__label::after {
    content: ":";
}

.field__item {
    margin-bottom: 1em;
}

.field--type-entity-reference .field__label {
    font-size: inherit !important;
}
.field--type-entity-reference .field__label {
    font-weight: bold !important;
}

caption {
    text-align: left;
    font-size: 1.5em !important;
    font-weight: bold !important;
}

.field.field--name-field-county-thumbnail {
    float: left;
}


/* Blocks
================================================== */

/* NHNM Link */
.nhnm_logo a {
    background: url('../images/nhnm-logo.png') no-repeat;
    display: inline-block;
    height: 62px;
    width: 274px;
    text-indent: -9999px;
}


