/*===========================================*
/* Body and Main
/*===========================================*/

body {
    background-color: #E6EAF0;
    color: #333333;
}

/* Links
-------------------------------------------------- */
a, a:link { color: #588C63; }
a:visited { color: #4E7A50; }
a:hover, a:focus, a:active { color:#333; }

#main-content a, #main-content a:link { text-decoration: underline; }
#main-content a:visited { text-decoration: underline; }
#main-content a:hover, #main-content a:focus, #main-content a:active { text-decoration: underline; }

/* Typography
-------------------------------------------------- */
/* h1 { font-size: 38px; }
h2 { font-size: 32px; }
h3 { font-size: 26px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; } */

/* Forms
-------------------------------------------------- */

fieldset {
    position: relative;
    top: 0;
}
fieldset legend {
    position: relative;
}

/* Header
-------------------------------------------------- */
#masthead { background-color: #FFFFFF; }

/* Footer
-------------------------------------------------- */
#bottom, .site-footer { background: #588C63; color: #FFFFFF; }
#bottom { border-top: 5px solid #ffffff; padding: 20px 0; }
#bottom a, .site-footer a { color: #FFFFFF; }
#bottom a:visited, .site-footer a:visited, .footer-block, .fcred { color: #FFFFFF; }
#bottom a:hover, #bottom a:active, #bottom a.active, #bottom a.active-trail,
.site-footer a:hover, .site-footer a:active, .site-footer a.active, .site-footer a.active-trail, #bottom .contextual-links a { color:#000; }
.footer-block .block, .footer-block nav { margin: 20px 0 0 0; }
.footer-block li { list-style-type: none; }
#colophon { padding: 0 0 20px 0; }
#colophon .fcred { text-align: center; padding: 0; }

/* Footer Menu
-------------------------------------------------- */
@media screen and (min-width: 997px) {
    #bottom .bottom__third nav ul:not(.contextual-links) {
        max-width: 50%;
        margin: 0 0 0 auto;
    }
}
@media screen and (max-width: 768px) {
    #bottom nav ul:not(.contextual-links) {
        margin-left: 0;
    }
    #bottom nav ul:not(.contextual-links) li a {
        width: 100%;
        padding: 20px;
        display: block;
        text-align: center;
        border: 1px solid #fff;
    }
}

/* Main Menu
-------------------------------------------------- */
#main-menu li {
    color: #fff;
}
#main-menu li a {
    color: #588C63;
}
#main-menu li a:hover, #main-menu li a:active, #main-menu a.active, #main-menu > ul > li > a.active-trail {
    color:#000;
}

/* Hero Area / Preface Area
-------------------------------------------------- */

#preface-area { background: #588C63; display: none; }
@media screen and (min-width: 768px) {
    #preface-area {
        /* background: #588C63 url(/themes/custom/nmrp_subtheme/assets/images/header-img.png) no-repeat scroll 50% 0 ; */
        background-size: 100% 100%;
        background-image: url(/themes/custom/nmrp_subtheme/assets/images/header-img.png);
        background-repeat: no-repeat;
        border-bottom: 5px solid #FFFFFF;
        border-top: 5px solid #FFFFFF;
        display: block;
        padding: 75px 0;
    }
}


/*===========================================*
/* Content
/*===========================================*/

h1.page-title { font-weight: normal; }

.node--view-mode-teaser {
    margin-bottom: 1em;
}

.field {
    margin-bottom: 1em;
}

.field.field--label-inline .field__label,
.field.field--label-inline .field__item,
.field.field--label-inline .field__items {
    display: inline;
}

img.align-left { margin: 0 20px 20px 0; }
img.align-right { margin: 0 0 20px 20px; }


/* Layout Builder
-------------------------------------------------- */
@media screen and (min-width: 40em) {
    .layout--twocol-section.layout--twocol-section--50-50 > .layout__region--first,
    .layout--twocol-section.layout--twocol-section--50-50 > .layout__region--second {
        flex: 0 1 48%;
        margin: 1%;
    }

    .layout--twocol-section.layout--twocol-section--33-67 > .layout__region--first,
    .layout--twocol-section.layout--twocol-section--67-33 > .layout__region--second {
        flex: 0 1 31%;
        margin: 1%;
    }

    .layout--twocol-section.layout--twocol-section--33-67 > .layout__region--second,
    .layout--twocol-section.layout--twocol-section--67-33 > .layout__region--first {
        flex: 0 1 65%;
        margin: 1%;
    }

    .layout--twocol-section.layout--twocol-section--25-75 > .layout__region--first,
    .layout--twocol-section.layout--twocol-section--75-25 > .layout__region--second {
        flex: 0 1 23%;
        margin: 1%;
    }

    .layout--twocol-section.layout--twocol-section--25-75 > .layout__region--second,
    .layout--twocol-section.layout--twocol-section--75-25 > .layout__region--first {
        flex: 0 1 73%;
        margin: 1%;
    }
}

/* Home Page
-------------------------------------------------- */

/* Slider */
/* .doverlay {
    background: none;
} */
.flex-direction-nav a {
    background-image: url(../images/bg_direction_nav.png);
}




/* Plant Species Node
-------------------------------------------------- */

/* Teaser */
.node--type-plant-species.node--view-mode-teaser footer .meta {
    display: none;
}

/* Full */
.node .field--type-image {
    float: none !important;
}

.field.field--name-field-plant-images {
    display: flex;
}

.field.field--name-field-plant-images img {
    width: 50px;
    height: 50px;
}

.field__label {
    font-weight: bold;
}

.field__label::after {
    content: ":";
}

.field__item {
    margin-bottom: 1em;
}

.field--type-entity-reference .field__label {
    font-size: inherit !important;
}
.field--type-entity-reference .field__label {
    font-weight: bold !important;
}

caption {
    text-align: left;
    font-size: 1.5em !important;
    font-weight: bold !important;
}

.field.field--name-field-county-thumbnail {
    float: left;
}


/*===========================================*
/* Blocks
/*===========================================*/

/* NHNM Link (footer)
-------------------------------------------------- */
@media screen and (min-width: 767px) {
    .nhnm_logo a {
        background: url('../images/nhnm-logo.png') no-repeat;
        display: inline-block;
        height: 62px;
        width: 274px;
        text-indent: -9999px;
    }
}

/* NMRP Link (footer)
-------------------------------------------------- */
@media screen and (min-width: 767px) {
    .bottom__second.footer-block .nmrp_logo {
        text-align: center;
        display: inherit;
    }
    .nmrp_logo a {
        background: #FFF url('../../logo.png') no-repeat;
        display: inline-block;
        height: 49px;
        width: 150px;
        text-indent: -9999px;
    }
}

/* NMRP Site Header (preface)
-------------------------------------------------- */
#preface-area #nmrp-site-header {
    font-size: 42px;
    font-weight: bold;
}

